/InterstarObfuscator/InterstarObfuscator.csproj
/InterstarObfuscator/InterstarObfuscator.csproj
.idea
.obj'.idea' 
.idea/.idea.InterstarObfuscator/.idea/contentModel.xml
.idea/.idea.InterstarObfuscator/.idea/contentModel.xml
FutureFunctions/obj/project.nuget.cache
FutureFunctions/obj/project.assets.json
FutureFunctions/obj/FutureFunctions.csproj.nuget.g.targets
FutureFunctions/obj/FutureFunctions.csproj.nuget.g.props
FutureFunctions/obj/project.assets.json
FutureFunctions/obj/project.nuget.cache
FutureFunctions/obj/FutureFunctions.csproj.nuget.g.targets
